
@import "base/extend";
@import "base/maps";
@import "base/mixin";
@import "base/variables";







*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}



//*nesting




/*estilos generales*/

body{
    font-family: 'Urbanist', sans-serif;
}

/*estilos del header*/

header{
    @include flex;
    background-color: $color-negro;
   
    nav{
        ul{
            margin-top:20px;
            display: flex;
            width: 26rem;
            justify-content: space-around;
            font-family: 'Urbanist', sans-serif;
        }
        
    }
    
}



.ul a{
    color: $color-dos;
}
.logo{
    color:$color-dos;
    @extend %logo;
    
}


/*animaciones del headear*/


header a:hover{
    color:blue;
    font-weight: bold;
}

.subTitulo:hover{
    @extend %titulo1;


}

/*estilos del main*/



.subTitulo{
  text-align: center;
  font-size: 33px;

}




.titulo1{
    @extend %titulo1;
    text-align: center;
    font-size: 33px;
    margin: 120px;
    
    
}

.mainP{
   @extend %maip;
    background-color: $color-negro;
    color: $color-dos;

}

.infoP{
  display: inline-block;
  width: 100%;
  background-color: $color-negro;
   
}

.mainP2{
    display: flex;
    padding: 20px;
    background-color: $color-negro;
    color: $color-dos;
}

.imagenes3{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    margin: 100px;
    width: 10px;
    height: 50px;
}

















/*footer*/
footer{
    width: 100%;
    background-color: $color-negro;
    color: $color-dos;
    .contenedor1{
        display: flex;
        width: 100%;
        max-width: 1200px;
        margin-top: 3rem;
        
    }
    
    .contactoF{
       font-size: 20px;
       display: flex;
       
    }
    .contactoInsta{
        display: inline-block;
        margin-top: 2rem;
        margin-right: 4rem;
    }
    .derechos{
        display: flex;
        margin-top: 8rem;
    }
}
  



